<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TGMC-version1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <res-ref-name>jdbc/MyDataSource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>loginAuth</display-name>
    <servlet-name>loginAuth</servlet-name>
    <servlet-class>CFB.database.loginAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginAuth</servlet-name>
    <url-pattern>/LoginAuth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addSubject</display-name>
    <servlet-name>addSubject</servlet-name>
    <servlet-class>CFB.Faculty.subject.addSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addSubject</servlet-name>
    <url-pattern>/addSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showSubject</display-name>
    <servlet-name>showSubject</servlet-name>
    <servlet-class>CFB.Faculty.subject.showSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showSubject</servlet-name>
    <url-pattern>/showSubject.xml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addQuestion</display-name>
    <servlet-name>addQuestion</servlet-name>
    <servlet-class>CFB.Faculty.subject.Question.addQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addQuestion</servlet-name>
    <url-pattern>/addQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewQuestion</display-name>
    <servlet-name>viewQuestion</servlet-name>
    <servlet-class>CFB.Faculty.subject.Question.viewQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewQuestion</servlet-name>
    <url-pattern>/viewQuestion.xml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteSubject</display-name>
    <servlet-name>deleteSubject</servlet-name>
    <servlet-class>CFB.Faculty.subject.deleteSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteSubject</servlet-name>
    <url-pattern>/deleteSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showContest</display-name>
    <servlet-name>showContest</servlet-name>
    <servlet-class>CFB.Faculty.contest.showContest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showContest</servlet-name>
    <url-pattern>/showContest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showSubjects</display-name>
    <servlet-name>showSubjects</servlet-name>
    <servlet-class>CFB.Faculty.contest.showSubjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showSubjects</servlet-name>
    <url-pattern>/showSubjects.txt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showQuestion</display-name>
    <servlet-name>showQuestion</servlet-name>
    <servlet-class>CFB.Faculty.contest.showQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showQuestion</servlet-name>
    <url-pattern>/showQuestion.txt</url-pattern>
  </servlet-mapping>
</web-app>